@media  screen and (max-width : 600px) {


      

      /*nav {

        display: flex;
        flex-direction: row;
        
            
      }
            
      nav div img{
    
        height: 25px;
        margin-left: 40px;
        margin-top: 30px;
            
      }   


      nav ul{
    
        font-size: 12px;
        margin-top: 26px;
        margin-left: 20px;
        gap: 15px;
           
      }

      .bt{

        font-size: 12px;
        padding: 4px 12px;
        border-radius: 25px;
        border: 2px solid dodgerblue;
        margin-top: 26px;
        margin-left: 30px;
        font-weight: bold;
        }*/

      
           

    
}